{% extends 'base.html' %}

{% block main %}

<section>
	<div class="Informacoes">
	<ul>
	<li class="InformacoesAluno"><button class="Logout">Logout</button></li>
	<li class="InformacoesAluno"><a>Curso: xxxx</a></li>
	<li class="InformacoesAluno"><a>RA: xxxxxxx</a></li>
	<li class="InformacoesAluno"><a>Olá, Aluno(a)!</a></li>
	<li class="InformacoesAluno"><img class="FotoAreaAluno" src="/static/images/aluno.png"></li>
	</ul>
	</div>
	</section>
	<section class="depoimentos">
		<div class="sobre depoimentos">
		<br>
		<br>
		<br>
		<h2>Avisos</h2>
		<div class="wrapper">
			<div class="one"><p><img class="imagewr" src="/static/images/Aviso1.png"></p></div>
			<div class="two"><p><img class="imagewr" src="/static/images/Aviso2.png"></p></div>
		  </div>
		<br>
		<br>
		<br>
		</div>
	</section>
	<br>
	<br>
	<br>

{% endblock main %}
