{% extends 'base.html' %}

{% block main %}
<head>
		<link rel ="stylesheet" href="/static/css/contato.css"/>
</head>

<center><div class="Form1"><br>	

<center> <form>


<br>	
<legend> <center> CONTATO </center> </legend>
<br>
<br> 
<br> 
 Nome Completo: <br>
<input type="text" class="CamposForm" placeholder="Digite..."/>

<br>
<br>
Telefone: <br>
<input type="text" class="CamposForm" placeholder="Digite seu telefone"/>
<br>
<br>
<label for="input-mail">E-mail: </label> <br>
<input type="text" class="CamposForm" placeholder="Digite o email">

<br>
<br>

Assunto do contato: <br>
<select name="assunto" class="CamposForm" >
	<option>Duvidas</option>
	<option>Opinião</option>
	<option>Reclamações</option>
</select>

<br>
<br>

Mensagem:<br>
<textarea name="Mensagem" class="CamposForm"  placeholder="Digite aqui..."></textarea>

<br>
<br>

<input class="button1" type="submit" value="Enviar"/>
<button class="button1" type="reset">Limpar</button>



<br>
<br>
</form> </center>


</div></center>
{% endblock main %}