<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#007db7" />
		<meta name="msapplication-navbutton-color" content="#007db7" />
		<meta name="apple-mobile-web-app-status-bar-style" content="#007db7" />
		<title>UNITEC | Bem Vindo</title>
		<link rel ="stylesheet" href="/static/css/estilo.css"/>
	</head>
<body>
	<header>
		<div class="menu">
				<ul>
					<nav>
						<li><a href="/index"><img class="home" src="/static/images/Ti.png"></a></li>
						<li class="menusuperior"><a class="h4" href="/ListaCursos"><h4>Lista de Cursos</h4></a></li>
						<li class="menusuperior"><a class="h4" href="/Noticias"><h4>Notícias</h4></a></li>
						<li class="menusuperior"><a class="h4" href="/Disciplinas"><h4>Disciplinas</h4></a></li>
						<li class="menusuperior"><a class="h4" href="/SobreCurso"><h4>Sobre Cursos</h4></a></li>
						<li class="menusuperior"><a class="h4" href="/Contato"><h4>Contato</h4></a></li>
						{% if not user.is_authenticated %}
							<li class="menusuperior"><a class="h4" href="/entrar"><h4>Login</h4></a></li>
						{% else %}
							{{ user }}
							<li class="menusuperior"><a class="h4" href="/admin/logout"><h4>Sair</h4></a></li>
						{% endif %}
					</nav>
				</ul>
		</div>
	</header>
	
	
	<center><img class="banner" src="/static/images/banner.png"></center>
	
	<center><div class="fundo3"><br>	
	
<div class="formularii"><br>	
	
	<fieldset class="formularii2">
	<img class="home" src="/static/images/logo.png">
	<legend>Recuperar Senha</legend>
	<center><br><h4 class="titulos">Digite os dados para a recuperação de senha</h4><br></center>
	Email:
	<input type="email" class="campo" name="email" placeholder="Digite o email">
	<br/>
	<br/>
	R.A:
	<input type="number" name="R.A" placeholder="Digite seu R.A"/>
	<br/>
	<br/>
	Data de Nascimento: 
	<input data="Data de nascimento" type="date" placeholder="Escolha a data" />
	<br/>
	<br/>
	<label for="input-mail">Senha: </label>
	<input type="password" class="campo" name="senha" placeholder="Digite a senha">
	</br>
	</br>
	<label for="input-mail">Confirme a Senha: </label>
	<input type="password" class="campo" name="senha" placeholder="Digite a senha">
	</br>
	</br>
	<input class="button" type="submit" value="Enviar"/>
	<br/>
	<br/>
	</br>
	
	Caso o email de confirmação não chegue, clique aqui.. </br></br>
	<input class="button" type="submit" value="Clique aqui"/>
	</br>
	</br>
	</div></center>
	</fieldset>
</div>
	
	<footer>
      <p><strong>Universidade de Tecnologia - Todos os Direitos Reservados &copy; 2017</strong></p>
    </footer>
</body> 
</html>
