<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#007db7" />
		<meta name="msapplication-navbutton-color" content="#007db7" />
		<meta name="apple-mobile-web-app-status-bar-style" content="#007db7" />
		<title>UNITEC | Bem Vindo</title>
		<link rel ="stylesheet" href="/static/css/estilo.css"/>
	</head>
<body>
	<header>
		<div class="menu">
			<ul><nav>
				<li><a href="index.html"><img class="home" src="/static/images/Ti.png"></a></li>
				<li class="menusuperior"><a class="h4" href="ListaCursos.html"><h4>Lista de Cursos</h4></a></li>
				<li class="menusuperior"><a class="h4" href="Noticias.html"><h4>Notícias</h4></a></li>
				<li class="menusuperior"><a class="h4" href="Disciplinas.html"><h4>Disciplinas</h4></a></li>
				<li class="menusuperior"><a class="h4" href="SobreCurso.html"><h4>Sobre Cursos</h4></a></li>
				<li class="menusuperior"><a class="h4" href="Contato.html"><h4>Contato</h4></a></li>
				<li class="menusuperior"><a class="h4" href="Login.html"><h4>Login</h4></a></li>
				</nav>
			</nav>
			</div>
    </header>
	
	<center><img class="banner" src="/static/images/banner.png"></center>
	
	<section class="conteudo">
		<div class="curso">
			<div class="imagem">
				<img src="/static/images/adss.jpg" alt="ANÁLISE E DESENVOLVIMENTO DE SISTEMAS"/>
			</div>
			<div class="texto" id="ads">
				<div class="circle"><i class="fa fa-code fa-4x" aria-hidden="true"></i></div>
				<h1>ANALISE E DESENVOLVIMENTO DE SISTEMAS</h1><p>Aprenda a desenvolver e analisar sistemas, utilizando ambientes DevOps linguagens e tecnologias de alta-produtividade e de melhor custo beneficio.</p>
				<br><a href="ads.html" class="readmore">Saiba mais</a>
			</div>
		</div>
		<div class="curso D">
			<div class="texto" id="gbd">
					<div class="circle"><i class="fa fa-database fa-4x" aria-hidden="true"></i></div>
					<h1><strong>GRADUAÇÃO EM BANCO DE DADOS<br></strong></h1><p>Aprenda importância da segurança de compartilhamento de dados nas empresas modernas dominando as melhores técnicas e ferramentas de criação e implementação.</p>
					<br><a href="bd.html" class="readmore">Saiba mais</a>
			</div>
			<div class="imagem">
				<img src="/static/images/banco.jpg" alt="BANCO DE DADOS"/>
			</div>
		</div>
		<div class="curso">
			<div class="imagem">
				<img src="/static/images/redes.jpg" alt="REDES DE COMPUTADORES"/>
			</div>
			<div class="texto" id="grc">
				<div class="circle"><i class="fa fa-sitemap fa-4x" aria-hidden="true"></i></div>
					<h1><strong>GRADUAÇÃO EM REDES DE COMPUTADORES</strong></h1>
				<p>Aprenda a analisar, projetar, instalar e administrar soluções para sistemas eficientes e seguros em projetos de redes locais e de longa distância.</p>
				<br><a href="redeCom.html" class="readmore">Saiba mais</a>
			</div>
		</div>
		<div class="curso D">
			<div class="texto" id="gti">
				<div class="circle"><i class="fa fa-laptop fa-4x" aria-hidden="true"></i></div>
				<h1><strong>GESTÃO EM TECNOLOGIA DA INFORMAÇÃO</strong></h1><p>Prepare-se para ser um profissional completo na administração de infraestrutura física e lógica de ambientes informatizados</p>
				<br><a href="gti.html" class="readmore">Saiba mais</a>
			</div>
			<div class="imagem">
				<img src="/static/images/gti.jpg" alt="REDES DE COMPUTADORES"/>
			</div>
		</div>
	</section>

	<footer>
      <p><strong>Universidade de Tecnologia - Todos os Direitos Reservados &copy; 2017</strong></p>
    </footer>
</body> 
</html>
