<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#007db7" />
		<meta name="msapplication-navbutton-color" content="#007db7" />
		<meta name="apple-mobile-web-app-status-bar-style" content="#007db7" />
		<title>UNITEC | Bem Vindo</title>
		<link rel ="stylesheet" href="/static/css/estilo.css"/>
	</head>
<body>
	<header>
		<div class="menu">
				<ul>
					<nav>
						<li><a href="/index"><img class="home" src="/static/images/Ti.png"></a></li>
						<li class="menusuperior"><a class="h4" href="/ListaCursos"><h4>Lista de Cursos</h4></a></li>
						<li class="menusuperior"><a class="h4" href="/Noticias"><h4>Notícias</h4></a></li>
						<li class="menusuperior"><a class="h4" href="/Disciplinas"><h4>Disciplinas</h4></a></li>
						<li class="menusuperior"><a class="h4" href="/SobreCurso"><h4>Sobre Cursos</h4></a></li>
						<li class="menusuperior"><a class="h4" href="/Contato"><h4>Contato</h4></a></li>
						{% if not user.is_authenticated %}
							<li class="menusuperior"><a class="h4" href="/entrar"><h4>Login</h4></a></li>
						{% else %}
							{{ user }}
							<li class="menusuperior"><a class="h4" href="/admin/logout"><h4>Sair</h4></a></li>
						{% endif %}
					</nav>
				</ul>
		</div>
	</header>
	
	
	<center><img class="banner" src="/static/images/banner.png"></center>
	
		<center><div class="fundo2"><br>
			<div class="conteudo">
			
				<ul class="corpo">
				<center><strong><h2>Notícias</h2></strong></center>
	<strong><h2><center>Alunos da Faculdade UNITEC vencem a 5.ª edição do Hackathon da FIESP</center></h2></strong>
	
	<p>
	Na última segunda-feira (17), um grupo de alunos da Faculdade UNITEC foi premiado na 5.ª edição do Hackathon, que aconteceu na cidade de São Paulo, cujo objetivo é reconhecer e divulgar soluções tecnológicas inovadoras.
	</p>
	Promovido pelo Comitê Acelera Fiesp (CAF) da Federação das Indústrias do Estado de São Paulo (FIESP), a edição desafiou os competidores a criar um aplicativo para dispositivos móveis com a temática Hackathon Maker: Internet das Coisas, Protótipos e Indústria 4.0.
	<p>
	Os participantes tiveram que desenvolver um sistema que solucionasse problemas na área de: <br><br><strong>Mashups</strong> (como combinar diversos dispositivos em um para estimular a conectividade e a praticidade no dia a dia das pessoas?); <br><br><strong>Equipamentos urbanos</strong> (no futuro as cidades serão inteligentes. Como os equipamentos urbanos podem se comunicar com seus usuários?); e <br><br><strong>Wearables</strong> (as mudanças no setor vestuário: novas tecnologias e usabilidades para roupas e acessórios).
	</p>

	<img class="noticiasimage" alt="Alunos da Faculdade UNITEC vencem a 5.ª edição do Hackathon da FIESP." src='/static/images/Noticias (1).jpg'/>
	<p>
	Os nossos alunos Júlio César dos Santos e Wilder Roberto Ramos Pereira e o ex-aluno Jean Pierre Ferreira da Silva, que integraram a equipe Greenbox, venceram a categoria Mashups com o projeto de uma plataforma<br> para educar e ajudar a criar um modo seguro e interativo de usar a tecnologia a favor da educação, trazendo para o mundo real elementos de jogos virtuais.<br>
	<br>
	A edição, que teve duração de três dias, premiou cada integrante com um tablet, além do compromisso com a aceleração dos projetos pelo CAF. Os ganhadores poderão ainda participar da 9.ª edição do Concurso Acelera Startup da Fiesp.
	</p>
	<strong>Nós, da Faculdade UNITEC, estamos muito orgulhosos de ver que nossos alunos não só estão colocando em prática todo o aprendizado obtido em sala de aula, como também contribuindo para a construção de uma sociedade melhor.</strong>
	<br>
	<br>
	<br>
	<h2><center>Alunos do Curso de Administração da Faculdade UNITEC apresentam trabalho de conclusão de curso</center></h2></font>
	<p>
	Os alunos do 8º semestre do curso de Administração da Faculdade UNITEC apresentaram, dia 14 de dezembro, os trabalhos de conclusão de curso (OPE?s). Ao todo, foram dois grupos com temas inovadores e um case real já aplicado no mercado.
	</p>
	Para a coordenadora do curso, Professora Francesca Romanelli, o trabalho é fruto do aprendizado e metodologia desenvolvido ao longo do curso e engloba fatores fundamentais como planejamento, pesquisa e processos:<br><strong>“Trata-se de trabalhos multidisciplinares que desenvolvem valores e conhecimentos fundamentais para esses alunos continuarem em destaque no mercado”, disse.</strong>
	<p>
	Os alunos Douglas Felipe Torres e Felipe Ferreira da Silva desenvolveram e implementaram um projeto para melhoria da gestão das informações dos indicadores de desempenhos da Cruz Vermelha do Estado de São Paulo,<br> através de uma ferramenta metodológica, desenvolvida em Microsoft Excel e adaptada da metodologia ITIL.  A solução foi pensada 100% no usuário final – de fácil utilização e intuitiva. 
	</p>
	<img class="noticiasimage" alt="Alunos do Curso de Administração da Faculdade UNITEC apresentam trabalho de conclusão de curso." src="images/Noticias (2).jpg"/>
	<p>
	A ferramenta já está em utilização na Cruz Vermelha com aprovação total dos seus voluntários e colaboradores. Para os alunos Douglas Torres, um dos idealizadores da solução, o resultado foi fantástico:<br><strong> “Nos pudemos contribuir com a parte de gestão das informações, eles não tinham esse controle por departamento, tem sido um grande facilitador para eles”.</strong>
	</p>
	Já as alunas Isabel Maria Pires Lopes e Melissa Lopes Frank realizaram um trabalho de pesquisa sobre o impacto da geração Z no mercado de trabalho baseado no conflito de gerações, cultura e clima organizacional.
	<p>
	A pesquisa mostrou dados concretos da diferença de pensamento dos gestores para os jovens que estão entrando no mercado de trabalho, a geração Z nasceu e vive em um mundo conectado e globalizado,<br> assim tem uma visão bem ampla do mundo, e conluio – de modo geral – que as organizações terão que se readaptar para reter os jovens talentos extrair sempre o melhor de cada jovem colaborador.
	</p>
	<strong>A Faculdade UNITEC deseja um grande futuro aos alunos e parabeniza a todos pelo sucesso e qualidade dos trabalhos!</strong></div>
	<br>
		</ul>
	<br>
	<br></div></center>

	<footer>
      <p><strong>Universidade de Tecnologia - Todos os Direitos Reservados &copy; 2017</strong></p>
    </footer>
</body> 
</html>
