<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#007db7" />
		<meta name="msapplication-navbutton-color" content="#007db7" />
		<meta name="apple-mobile-web-app-status-bar-style" content="#007db7" />
		<title>UNITEC | Bem Vindo</title>
		<link rel ="stylesheet" href="/static/css/estilo.css"/>
	</head>
<body>
	<header>
		<div class="menu">
				<ul>
					<nav>
						<li><a href="/index"><img class="home" src="/static/images/Ti.png"></a></li>
						<li class="menusuperior"><a class="h4" href="/ListaCursos"><h4>Lista de Cursos</h4></a></li>
						<li class="menusuperior"><a class="h4" href="/Noticias"><h4>Notícias</h4></a></li>
						<li class="menusuperior"><a class="h4" href="/Disciplinas"><h4>Disciplinas</h4></a></li>
						<li class="menusuperior"><a class="h4" href="/SobreCurso"><h4>Sobre Cursos</h4></a></li>
						<li class="menusuperior"><a class="h4" href="/Contato"><h4>Contato</h4></a></li>
						{% if not user.is_authenticated %}
							<li class="menusuperior"><a class="h4" href="/entrar"><h4>Login</h4></a></li>
						{% else %}
							{{ user }}
							<li class="menusuperior"><a class="h4" href="/admin/logout"><h4>Sair</h4></a></li>
						{% endif %}
					</nav>
				</ul>
		</div>
	</header>
	
	
	<center><img class="banner" src="/static/images/banner.png"></center>
	
	<center><div class="fundo3"><br>	
	
<div class="formularii"><br>	
	
	<fieldset class="formularii2">
	<img class="home" src="/static/images/logo.png">
	<legend>Nova Disciplina</legend>
	<center><br><h4 class="titulos">Digite seu dados pessoais</h4><br></center>
	Professor:
	<input type="name" class="campo" name="professor" placeholder="Digite seu nome">
	</br>
	</br>
	Horas Mensais:
	<input type="number" class="campo" name="horas" placeholder="Digite suas horas">
	<br/>
	<br/>
	Duração das aulas:
	<input type="number" class="campo" name="duracao" placeholder="Digite as horas">
	<br/>
	<br/>
	Dia da semana ministrado:
	<input data="diasemana" type="date" /><br>

	</br>
	</br>
	</br>
	<strong>Contato:</strong></br></br>
		Nome: <input type="name" name="nome"><br>
		<p>E-mail: <input type="email" name="email">
				</p>Assunto: <select name="assunto" required="">
						<option value="">-- Selecione --</option>
						<option>Acadêmico</option>
						<option>Financeiro</option>
						<option>Dúvidas</option></select><br><br>
						Mensagem:</br>
						<textarea name="Mensagem" class="direita" placeholder="Digite aqui..."></textarea>
					</select>
		
	</br>
	</br>
	<input class="button" type="submit" value="Enviar"/>
	<button class="button" type="reset">Limpar</button>
	
	</br>
	</br>

	</div></center>
	</fieldset>

</div>
	
	<footer>
      <p><strong>Universidade de Tecnologia - Todos os Direitos Reservados &copy; 2017</strong></p>
    </footer>
</body> 
</html>
