<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#007db7" />
		<meta name="msapplication-navbutton-color" content="#007db7" />
		<meta name="apple-mobile-web-app-status-bar-style" content="#007db7" />
		<title>UNITEC | Bem Vindo</title>
		<link rel ="stylesheet" href="/static/css/estilo.css"/>
	</head>
<body>
	<header>
		<div class="menu">
				<ul>
					<nav>
						<li><a href="/index"><img class="home" src="/static/images/Ti.png"></a></li>
						<li class="menusuperior"><a class="h4" href="/ListaCursos"><h4>Lista de Cursos</h4></a></li>
						<li class="menusuperior"><a class="h4" href="/Noticias"><h4>Notícias</h4></a></li>
						<li class="menusuperior"><a class="h4" href="/Disciplinas"><h4>Disciplinas</h4></a></li>
						<li class="menusuperior"><a class="h4" href="/SobreCurso"><h4>Sobre Cursos</h4></a></li>
						<li class="menusuperior"><a class="h4" href="/Contato"><h4>Contato</h4></a></li>
						{% if not user.is_authenticated %}
							<li class="menusuperior"><a class="h4" href="/entrar"><h4>Login</h4></a></li>
						{% else %}
							{{ user }}
							<li class="menusuperior"><a class="h4" href="/admin/logout"><h4>Sair</h4></a></li>
						{% endif %}
					</nav>
				</ul>
		</div>
	</header>
	
	
	<center><img class="banner" src="/static/images/banner.png"></center>
	
	<center><div class="fundo3"><br>	
	
<div class="formularii"><br>	
	
	<fieldset class="formularii2">
	<img class="home" src="/static/images/logo.png">
	<legend>Novo cadastro</legend>
	<center><br><h4 class="titulos">Digite seu dados pessoais</h4><br></center>
	Nome:
	<input type="name" class="campo" name="nome" placeholder="Digite seu nome">
	</br>
	</br>
	Sobrenome:
	<input type="name" class="campo" name="sobrenome" placeholder="Digite seu sobrenome">
	</br>
	</br>
	Sexo:
	<select name="sexo" required="">
		<option value="">-- Selecione --</option>
		<option>Masculino</option>
		<option>Feminino</option>
	</select>
	</br>
	</br>
	Email:
	<input type="email" class="campo" name="email" placeholder="Digite o email">
	<br/>
	<br/>
	RG:
	<input name="RG" type="number" placeholder="Digite seu RG"/>
	<br/>
	<br/>
	Data de Nascimento:
	<input data="Data de nascimento" type="date" />
	<br/>
	<br/>
	Idade:
	<input name="Idade" type="number" placeholder="Digite sua Idade"/>
	<br/>
	<br/>
	<strong>Endereço:</strong></br></br>
		CEP: <input name="cep" type="number"><br>
		<p>Rua: <input name="rua"><br>
			<p>Número: <input name="numero" type="number"><br>
				<p>Complemento: <input name="numero" type="number"><br>
					<p>Cidade: <input name="cidade" ><br>
		
	</br>
	</br>
	<input class="button" type="submit" value="Enviar"/>
	<button class="button" type="reset">Limpar</button>
	<br/>
	<br/>
	
	Caso o email de confirmação não chegue, clique aqui.. </br></br>
	<input class="button" type="submit" value="Clique aqui"/>
	</br>
	</br>

	</div></center>
	</fieldset>

</div>
	
	<footer>
      <p><strong>Universidade de Tecnologia - Todos os Direitos Reservados &copy; 2017</strong></p>
    </footer>
</body> 
</html>
