.Form1 {
	width: 45%;
	color: #0a5274;
	border: 4px solid #199bd8;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
 }
.CamposForm, select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #0d5374;
    box-sizing: border-box;
	background-color: #199bd8;
	color: white;

}
.button1 {
	color: #fff;
	background-color: #199bd8;
	border: 0px;
	width: 80px;
	height: 20px;
}

@media(max-width: 755px){
	.Form1 {
		width: 70%;
		margin-top: 80px;
	}
	
	.corpo-contato {
		padding-top: 200px;
	}
}

/* Fim do css de contato.html */